@import "frappe.css";

* {
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 13px;
    font-weight: bold;
}

tooltip {
	background-color: @base;
    color: @text;
	text-shadow: none;
}

window#waybar {
    background: none;
}

window#waybar.hidden {
    opacity: 0.2;
}

.module {
    background-color: @base;
    color: @text;
    padding: 0 10px;
    margin: 5px 0;
    border-radius: 10px;
    border: none;
    transition-duration: .1s;
}

.module:hover {
	padding: 0 20px;
    transition-duration: .1s;
}

#workspaces {
	margin-left: 10px;
	min-width: 200px;
}

#workspaces button {
	color: @text;
    border: none;
}

#workspaces button.active {
	color: @pink;
}

#workspaces button:hover {
	background: none;
}

#workspaces button.urgent {
	color: @text;
}

#clock {
}

#tray {
	padding: 0 20px;
}

#tray:hover {
	padding: 0 20px;
}

#wireplumber.muted {
	background-color: @base;
}

#wireplumber {
	color: @pink;
}

#bluetooth {
	color: @yellow;
}

#backlight {
	color: @blue;
}

#battery {
	color: @green;
}

#battery.warning {
	color: @yellow;
}

#battery.low {
	color: @red;
}

#network {
	color: @maroon;
    margin-right: 10px;
}

#custom-divider {
	background: none;
	padding: 0;
}
