$rosewater:  #f5e0dc;
$flamingo:  #f2cdcd;
$pink:  #f5c2e7;
$mauve:  #cba6f7;
$red:  #f38ba8;
$maroon:  #eba0ac;
$peach:  #fab387;
$yellow:  #f9e2af;
$green:  #a6e3a1;
$teal:  #94e2d5;
$sky:  #89dceb;
$sapphire:  #74c7ec;
$blue:  #89b4fa;
$lavender:  #b4befe;
$text:  #cdd6f4;
$subtext1:  #bac2de;
$subtext0:  #a6adc8;
$overlay2:  #9399b2;
$overlay1:  #7f849c;
$overlay0:  #6c7086;
$surface2:  #585b70;
$surface1:  #45475a;
$surface0:  #313244;
$base:  #1e1e2e;
$mantle:  #181825;
$crust:  #11111b;


* {
	all: unset; // Unset all style to start from scratch
	font-family: "JetBrainsMono";
	font-size: 14;
}

// Windows
.bar {
	background-color: $crust;
	color: $text;
	border-radius: 10px;
}

.window {
	background-color: $crust;
	color: $text;
	border-radius: 10px;
	padding: 20px;
}

.window button {
	margin: 10px 0px;
	padding: 10px 20px;
	color: $text;
	background-color: $mantle;
	border-radius: 10px;
}

.window button:hover {
	background-color: $text;
	color: $crust;
}



// Widgets
scale trough {
	border-radius: 10px;
	background-color: $crust;
	min-height: 10px;
	min-width: 100px;
	transition: min-height 0.1s;
	/* margin-left: 10px; */
}

scale trough:hover {
	min-height: 15px;
	transition: min-height 0.1s;
}

scale trough highlight {
	border-radius: 10px;
	background-color: $red;
}



// Center
.center {
	background-color: $mantle;
	padding: 0px 40px;
	border-radius: 20px;
}

.center label {
	margin: 0px 20px;
}

.volume trough highlight {
	background-color: $yellow;
}

.brightness trough highlight {
	background-color: $mauve;
}

.clock {
	color: $text;
	background-color: $base;
	margin: 5px;
	padding: 0px 5px;
	border-radius: 20px;
}

.clock:hover {
	background-color: $text;
	color: $crust;
}



// Sidestuff
.sidestuff {
	background-color: $mantle;
	padding-right: 40px;
	padding-left: 40px;
	/* padding-top: 7px; */
	/* padding-bottom: 7px;	 */
	border-radius: 20px 10px 10px 20px;
}

.sidestuff label {
	margin-right: 10px;
}

.systray {
	margin-right: 40px;
}

.sidestuff button {
	background-color: $base;
	margin: 5px;
	margin-right: 20px;

	padding-left: 20px;
	padding-right: 10px;

	border-radius: 10px;
}

.wifi {
	color: $mauve;
}

.wifi:hover {
	background-color: $mauve;
	color: $crust;
}

.bluetooth {
	color: $blue;
}

.bluetooth:hover {
	background-color: $blue;
	color: $crust;
}

.sidestuff scale trough highlight {
	background-color: $green;
}



// Workspaces
.workspaces {
	background-color: $mantle;
	padding: 8px 40px;
	border-radius: 10px 20px 20px 10px;
}

.workspaces button {
	color: $text;
	margin: 0px 15px;
	padding: 0px 5px;
}

.workspaces button:hover {
	color: $red;
}



// Lock
.lock {
	background-color: $crust;
	color: $text;
}
